@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 400px;
    background-image: url(./../images/gabriela_rodriguez_haeder-01.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
    border-bottom: 5px solid #1a405e;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-toggler-icon {
    color: #1a405e;
}

.encLogo {
    margin: 80px auto;
    width: 60%;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;

}

.imgLogo {
    width: 300px;
    height: 100px;
}

.btn-red {
    color: #fff;
    border: 1px solid #ba322b;
    background-color: #ba322b;
    display: block;
    margin: 20px auto 0 auto;

}

.servicios {
    width: 100%;
    height: auto;
    background-color: fff;
    border: 5px solid #fff;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 80px 350px;
    grid-template-areas:
        "servEnc servEnc servEnc servEnc servEnc"
        "serv1 serv2 serv3 serv4 serv5";
}

.item {
    border: 10px solid #fff;
    text-align: center;
}

.item0 {
    grid-area: servEnc;
}

.item1 {
    grid-area: serv1;
}

.item2 {
    grid-area: serv2;
}

.item3 {
    grid-area: serv3;
}

.item4 {
    grid-area: serv4;
}

.item5 {
    grid-area: serv5;
}

.serviciosEnc {
    color: #1a405e;
    text-transform: uppercase;
    text-align: center;
}

.servImg img {
    width: 200px;
    height: 200px;
}

.servTit {
    color: #ba322b;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.tratamientos {
    width: 100%;
    height: auto;
    background-color: #dfded659;
    /* border:5px solid #dfded6; */
    display: grid;
    padding: 20px 20px 0 20px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 80px auto;
    grid-template-areas:
        "tratEnc tratEnc"
        "tratImg tratLista";
}

.itemt {
    /*border: 1px solid #fff;*/
}

.itemt1 {
    grid-area: tratEnc;
}

.itemt2 {
    grid-area: tratImg;
    text-align: right;
}

.itemt3 {
    grid-area: tratLista;
}

.tratamientoEnc {
    color: #1a405e;
    text-transform: uppercase;
    text-align: center;
}

.tratamientosImg {
    width: 300px;
    height: 350;
}

.luTrat {
    margin-top: 30px;
    list-style: none;
}

.itemTrat {
    color: #eb762c;
    font-weight: bold;
    font-size: 20px;
}

.listItemTrat1 {
    padding-left: 1px;
}

.listItemTrat2 {
    padding-left: 15px;
}

.listItemTrat3 {
    padding-left: 25px;
}

.listItemTrat4 {
    padding-left: 35px;
}

.listItemTrat5 {
    padding-left: 45px;
}

.listItemTrat6 {
    padding-left: 35px;
}

.listItemTrat7 {
    padding-left: 25px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #1a405e;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "footLogo footLogo redes"
        "copyright copyright copyright";
}

.itemFooter1 {
    grid-area: footLogo;
    text-align: center;
}

.itemFooter2 {
    grid-area: redes;
}

.itemFooter3 {
    grid-area: copyright;
}

.itemFooter2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "wp fbk in mail";
    font-size: xx-large;
}

.itemRedes1 {
    grid-area: wp;
}

.itemRedes1 {
    grid-area: fbk;
}

.itemRedes1 {
    grid-area: in;
}

.itemRedes1 {
    grid-area: mail;
}

.footLogo {
    width: 200px;
    height: 80px;
}

.fa-brands {
    color: #fff;
}

/*1:10 time grid*/
@media only screen and (max-width:575px) {
    .servicios {
        display: block;
    }

    .tratamientos {
        display: block;
    }

    .itemTrat {
        list-style-type: circle;
        padding-left: initial;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .servicios {
        display: block;
    }
    
    .item {
        display: inline-block;
        width: 45%;
    }

    .item0 {
        width: 100%;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .servicios{
        display: block;
    }
    .item{
        display:inline-block;
        width: 30%;
    }
    .item0{
        width: 100%;
    }
}