@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*Genera un desplazamiento suave*/
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 400px;
  background-image: url(./../images/gabriela_rodriguez_haeder-01.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 15px;
  border-bottom: 5px solid #1a405e;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-toggler-icon {
  color: #1a405e;
}

.nav-link {
  color: #1a405e !important;
}

.nav-link:hover {
  border-bottom: 3px solid #ba322b;
}

.nav-link:active {
  border-bottom: 3px solid #ba322b !important;
}

.encLogo {
  margin: 80px auto;
  width: 60%;
  height: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.imgLogo {
  width: 300px;
  height: 100px;
}

.btn-red {
  color: #fff;
  border: 1px solid #ba322b;
  background-color: #ba322b;
  display: block;
  margin: 20px auto 0 auto;
}

.encSecundario {
  height: 150px;
}

.encSecundario .encLogo {
  margin: 5px auto;
  height: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.encSecundario .imgLogo {
  width: 150px;
  height: 50px;
}

.btn-red {
  color: #fff;
  border: 1px solid #ba322b;
  background-color: #ba322b;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 20px;
}

main {
  margin: 0 auto;
  height: auto;
}

.titulo {
  color: #1a405e;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

#acercaDe {
  background-color: rgba(223, 222, 214, 0.3490196078);
}

#acercaDe .card {
  margin: 0 auto;
  width: 75%;
  border-bottom: 2px solid #ba322b;
  flex-direction: initial;
  flex-wrap: wrap;
}

#acercaDe .card .imgAcercaDe {
  width: 150px;
  height: 150px;
  padding: 10px 30px 0 10px;
  float: left;
}

.servicios {
  width: 85%;
  height: auto;
  background-color: fff;
  border: 5px solid #fff;
  display: grid;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 80px 350px;
  grid-template-areas: "servEnc servEnc servEnc servEnc servEnc" "serv1 serv2 serv3 serv4 serv5";
}

.item {
  border: 10px solid #fff;
  text-align: center;
}

.item0 {
  grid-area: servEnc;
}

.item1 {
  grid-area: serv1;
}

.item2 {
  grid-area: serv2;
}

.item3 {
  grid-area: serv3;
}

.item4 {
  grid-area: serv4;
}

.item5 {
  grid-area: serv5;
}

.serviciosEnc {
  color: #1a405e;
  text-transform: uppercase;
  text-align: center;
}

.servImg img {
  width: 200px;
  height: 200px;
}

.servTit {
  color: #ba322b;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 20px;
}

.tratamientos {
  width: 100%;
  height: auto;
  background-color: rgba(223, 222, 214, 0.3490196078);
  /* border:5px solid #dfded6; */
  display: grid;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 80px auto;
  grid-template-areas: "tratEnc tratEnc" "tratImg tratLista";
}

.itemt1 {
  grid-area: tratEnc;
}

.itemt2 {
  grid-area: tratImg;
  text-align: right;
}

.itemt3 {
  grid-area: tratLista;
}

.tratamientoEnc {
  color: #1a405e;
  text-transform: uppercase;
  text-align: center;
}

.tratamientosImg {
  width: 300px;
  height: 350;
}

.luTrat {
  margin-top: 30px;
  list-style: none;
}

.itemTrat {
  color: #eb762c;
  font-weight: bold;
  font-size: 20px;
}

.listItemTrat1 {
  padding-left: 1px;
}

.listItemTrat2 {
  padding-left: 15px;
}

.listItemTrat3 {
  padding-left: 25px;
}

.listItemTrat4 {
  padding-left: 35px;
}

.listItemTrat5 {
  padding-left: 45px;
}

.listItemTrat6 {
  padding-left: 35px;
}

.listItemTrat7 {
  padding-left: 25px;
}

.articulos {
  width: 100%;
  height: auto;
  background-color: rgba(223, 222, 214, 0.3490196078);
  /* border:5px solid #dfded6; */
  display: grid;
  padding: 20px 20px 0 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 50px;
  grid-template-areas: "artPimg artPtxt artPtxt" "art3 art4 art5" "pag pag pag";
}

.itemArtic1 {
  grid-area: artPimg;
}

.itemArtic2 {
  grid-area: artPtxt;
}

.itemArtic3 {
  grid-area: art3;
}

.itemArtic4 {
  grid-area: art4;
}

.itemArtic5 {
  grid-area: art5;
}

.itemArtic6 {
  grid-area: pag;
  text-align: center;
  padding: 5px 0 20px 0;
}

.itemArtic6 a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #eb762c;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: #fff;
  text-decoration: none;
}

.itemArtic6 a:hover {
  background-color: #ea5f07;
  text-decoration: underline;
}

.card {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.itemArtic2 .card__title {
  padding-top: initial;
}

.card__title {
  color: #eb762c;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}

a.card__button {
  background-color: #eb762c;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 120px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a.card__button:hover {
  background-color: #ea5f07;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.paginacion {
  margin: 15px;
}

.itemEC .card-title {
  margin-bottom: 15px;
  text-align: left;
  color: #eb762c;
  font-family: "Montserrat", sans-serif;
}

.itemEC .card-img {
  width: 350px;
  height: 235px;
  display: inline-block;
  vertical-align: top;
}

.itemEC .card-txt {
  width: 850px;
  height: 235px;
  display: inline-block;
  margin-left: 20px;
}

.itemEC .btn {
  float: right;
}

.hospitales .titulo {
  color: #eb762c;
  text-transform: none;
  text-align: left;
  margin: 20px 0;
}

.centrosSalud .titulo {
  color: #eb762c;
  text-transform: none;
  text-align: left;
  margin: 20px 0;
}

#preguntasFrecuentes {
  width: 75%;
  margin: 0 auto;
  padding: 50px;
}
#preguntasFrecuentes .accordion {
  background-color: #eb762c;
  color: #ba322b;
}

.accordion-button {
  color: #eb762c;
  font-weight: bold;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: initial;
  color: #eb762c;
  font-weight: bold;
}

.accordion-button:focus {
  border-color: #ebbb88;
  box-shadow: 0 0 0 0.25rem #ebbb88;
}

.accordion-body {
  color: #1a405e;
}

.accordion-button:hover {
  border-color: #ebbb88;
  box-shadow: 0 0 0 0.25rem #ebbb88;
}

.accordion-button::after {
  color: #fff;
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  content: "?";
  background-color: #ba322b;
  background-image: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.accordion-button:not(.collapsed)::after {
  color: #1a405e;
  background-image: none;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  content: "\f328";
  background-color: #fff;
  background-image: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  transform: initial;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #1a405e;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "footLogo footLogo redes" "copyright copyright copyright";
}

.itemFooter1 {
  grid-area: footLogo;
  text-align: center;
}

.itemFooter2 {
  grid-area: redes;
}

.itemFooter3 {
  grid-area: copyright;
}

.itemFooter2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "wp fbk in mail";
  font-size: xx-large;
}

.itemRedes1 {
  grid-area: wp;
}

.itemRedes1 {
  grid-area: fbk;
}

.itemRedes1 {
  grid-area: in;
}

.itemRedes1 {
  grid-area: mail;
}

.itemRedes1 i:hover {
  color: #fff;
  background-color: #1877f2;
}

.itemRedes2 i:hover {
  color: rgb(29, 155, 240);
}

.itemRedes3 i:hover {
  color: #fff;
  background-color: #000;
}

.itemRedes4 i:hover {
  background-image: linear-gradient(to bottom right, #6600ff, #ff00cc, #ff0066, #ffcc00);
}

.footLogo {
  width: 200px;
  height: 80px;
}

.fa-brands {
  color: #fff;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: #ba322b;
  color: #fff;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #fff;
}

@media only screen and (max-width: 576px) {
  header {
    height: 150px;
  }
  #navbarNav {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 5px;
    z-index: 5;
  }
  .encLogo {
    display: none;
  }
  #acercaDe .card {
    width: 100%;
  }
  .servicios {
    display: block;
  }
  .tratamientos {
    display: block;
  }
  .itemTrat {
    list-style-type: circle;
    padding-left: initial;
  }
  .tratamientosImg {
    width: 100%;
    height: 100%;
  }
  .articulos {
    display: block;
  }
  .intemArtic {
    margin: 10px 0;
  }
  .itemEC {
    width: 100%;
  }
  .card-body {
    padding: 0;
  }
  .itemEC .card-img {
    display: block;
    width: 100%;
  }
  .itemEC .card-txt {
    display: block;
    margin-left: initial;
    width: 100%;
    height: auto;
    font-size: 14px;
    padding-top: 10px;
  }
  .hospitales .titulo {
    text-align: center;
  }
  .hospitales .row {
    display: block;
    margin: 0 auto;
  }
  .hospitales .col {
    border: 1px solid #ccc;
    border-right: 4px solid #eb762c;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 5px;
    width: 100%;
  }
  .ubicacion {
    text-align: center;
    width: 100%;
    padding: 0 5px;
  }
  .centrosSalud .row {
    display: block;
    margin: 0 auto;
  }
  .centrosSalud .col {
    border: 1px solid #ccc;
    border-right: 4px solid #eb762c;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 5px;
    width: 100%;
  }
  #preguntasFrecuentes {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  #accordionExample {
    width: 100%;
  }
  footer {
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #navbarNav {
    background-color: #fff;
    padding: 0 5px;
    z-index: 5;
    border: 1px solid #ccc;
  }
  .servicios {
    display: block;
  }
  .item {
    display: inline-block;
    width: 45%;
  }
  .item0 {
    width: 100%;
  }
  .articulos {
    display: block;
  }
  .itemEC .card-img {
    width: 100%;
    height: auto;
  }
  .itemEC .card-txt {
    margin-left: 5px;
    width: 100%;
    height: auto;
  }
  .hospitales {
    margin-left: 15px;
    width: 95%;
  }
  .hospitales .col {
    border: 1px solid #ccc;
    border-right: 4px solid #eb762c;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 10px;
  }
  .centrosSalud {
    margin-left: 15px;
    width: 95%;
  }
  .centrosSalud .col {
    border: 1px solid #ccc;
    border-right: 4px solid #eb762c;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #navbarNav {
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 5;
    padding: 0 5px;
  }
  .servicios {
    display: block;
  }
  .item {
    display: inline-block;
    width: 30%;
  }
  .item0 {
    width: 100%;
  }
  .articulos {
    display: block;
  }
  .intemArtic {
    display: inline-block;
    width: 45%;
    margin-bottom: 25px;
    margin: 25px 10px 0 10px;
  }
  .itemEC .card-img {
    display: inline-block;
    width: 35%;
    height: 250px;
    vertical-align: top;
  }
  .itemEC .card-txt {
    display: inline-block;
    width: 60%;
    height: 250px;
    /* float: left; */
    margin-left: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .hospitales {
    margin-left: 20px;
  }
  .centrosSalud {
    margin-left: 20px;
  }
  .itemEC .card-img {
    display: inline-block;
    width: 35%;
    height: 250px;
    vertical-align: top;
  }
  .itemEC .card-txt {
    display: inline-block;
    width: 60%;
    height: 250px;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
